body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Color palette variables */
:root {
  --text: #040316;
  --background: #fbfdfe;
  --primary: #0fb2c7;
  --secondary: #c9eaf8;
  --accent: #37c6c8;
}

.editor{
  background-color: white;
  position: relative;
  top:100px;
  height:800px;
}

.button{
  height:100px;
  width:100px;
}