.aboutus {
    /* margin-block: 5rem; */
    margin-top: 0;
    position: relative;
    z-index: 1;
}

.aboutus_box {
    width: 100%;
    /* margin:  50px auto; */
    position: relative;
    z-index: 2;
}

.about_us_text {
    text-align: center;
    position: relative;
    z-index: 1; 
}

.mainImg {
    margin-top: 0;
    position: relative; 
    display: inline-block;
}

.fullScreenImg {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    /* position: absolute;  */
    
}

.overlayText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -98%);
    /* background-color: #b3b0b04d; */
    color: #ffffff;
    padding: 10px 20px;
    font-size: 90px;
    font-weight: 900;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.9);
    border: 2px solid #ffffff;
    border-radius: 10px;

}

.bgcolor_hero {
    background-color: #6dd3e1cb;
    /* margin-top: 50px; */
    /* width: 100vw;
    height: 100vh; */
}

.aboutus_box_hero {
    /* padding: 10px; */
    
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    flex: 1 1 0%;
    
}

.aboutus_box_hero_left {
    /* margin: 10px 10px 10px 10px; */
    padding: 0px 35px;
    margin-right: 20px;
    max-width: 45%; 
    color: var(--text); 
    text-align: center;
    
}

.aboutus_box_hero_left h1{
    font-size: 3rem;
    line-height:  .5;
    color: aliceblue;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.aboutus_box_hero_left p{
    font-size: 1.2rem;
    line-height: 1.8;
    text-align: justify;
    font-weight: 500;
}

.aboutus_box_hero_right {
    max-width: 45%; /* Set the width for the image container */
    margin-bottom: 0px;
    margin-right: 0px;
}


.aboutus_box_hero_right img {
    width: 100%; /* Make the image fill its container */
    height: auto; 
    padding-bottom: 0%;
    
}


.aboutus_founder{
    display: flex; 
    flex-direction: row;
    align-items: center;
    background-color: rgb(227, 221, 213); 
}

.aboutus_box_titles {
    /* margin-top: 10%;  */
    margin-left: 5%;
    color: var(--text); 
    text-align: center; 
}

.aboutus_box_titles h2 {
    font-size: 3rem;
    line-height: 1;
}

.aboutus_box_titles p {
    font-size: 1.2rem;
    text-align: justify;
    
}


.aboutus_box_founder {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
}

.aboutus_box_founder_box {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.aboutus_box_founder_box_item {
    background-color: rgb(205, 205, 202);
    color: var(--text);
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
}

.aboutus_box_founder_box_item h3 {
    font-size: 1.5rem;
}

.aboutus_box_founder_box_item p {
    font-size: 1rem;
}

.aboutus_box_facts {
    color: var(--text); 
}

.aboutus_box_facts_box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 4rem;
}

.aboutus_box_facts_box_info {
    background-color: var(--secondary);
    padding: 1rem 3rem;
    border-radius: 1rem;
}

.aboutus_box_facts_box_info h3 {
    font-size: 1.5rem;
    /* line-height: 0; */
}

@media screen and (max-width: 35em) {
    .aboutus_box {
        width: 90%;
    }

    .aboutus_box_hero {
        grid-template-columns: 1fr;
    }

    .aboutus_box_founder {
        margin-top: 5rem;
    }

    .aboutus_box_title p {
        width: 100%;
    }

    .aboutus_box_founder_box {
        grid-template-columns: 1fr;
        gap: 4rem;
    }

    .aboutus_box_facts_box {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        margin-top: 4rem;
    }

    .aboutus_box_facts_box_info h3 {
        font-size: 2rem;
    }
}
