.authentication-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  min-height: calc(100vh - 70px);
  color: var(--text);
}
