.loginContainer {
  
  /* background-color: rgba(255, 255, 255, 0.8); */
  padding: 40px 30px;
  /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); */
  perspective: 2700px;
  /* border-radius: 5px; */
  /* border: 1px solid rgba(255, 255, 255, 0.5); */
  /* backdrop-filter: blur(9px); */
  /* -webkit-backdrop-filter: blur(9px); */
  height: 520px;
  width: 400px;
  background-color: rgba(255,255,255);
  position: relative;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 20px rgba(8,7,16,0.6);
  padding: 50px 35px;
}

.loginForm {
  width: 300px;
}

.loginForm .title {
  width: 100%;
  text-align: center;
  position: relative;
  font-size: 24px;
  font-weight: 500;
  color: #333;
  font-weight: bold;
}

.loginForm .inputBoxes {
  margin-top: 30px;
  
}

.loginForm .inputBox {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  margin: 10px 0;
  position: relative;
  
}

.inputBox input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  padding: 0 30px;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  border-radius: 20px;
}

.inputBox input:focus,
.inputBox input:valid {
  border-color: #7d2ae8;
}

.inputBox i{
  color: var(--primary);
  font-size: larger;
}

.btn {
  cursor: pointer;
  background-color: transparent;
  margin: 0 10px;
  padding: 7px 14px;
  border: 2px solid var(--primary);
  border-radius: 8px;
  font-size: 18px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 700;
}

.btn:hover {
  color: #fff;
  background-color: var(--primary);
  border-color: var(--accent);
}
