/* Sidenavbar styles: */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #eeeeee;
  overflow-x: hidden;
  margin-top: 50px;
  transition: 0.5s;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #0f0f0f;
  font-weight: bolder;
  font-size: 30px;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidenav.open {
  width: 250px; /* Set the desired width when open */
}

/* Subnavbar Styles: */
.subnavbar{
  width: 100%;
  height: 40px;
  background-color:aquamarine;
  display: flex;
  align-items: flex-end;
  flex-direction: center;
}

/* Overall Notes Styels: */
.notesContainer{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  box-sizing: border-box;
  min-height: calc(100vh - 70px);
  width: 100%;
}

.mainContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}


/* Editor Styles: */


/* Discussion Styles: */
