.sidenav {
  height: 92.8vh;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  margin-top: 65px;
  transition: 0.5s;
}

.sidenavBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 25px;
}

.subnavbarLeft{
  cursor: pointer;
  font-size: 22px;
  font-weight: 700;
}

.closebtn {
  font-size: 2px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 0;
}

.sidenav a {
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #0f0f0f;
  font-weight: bolder;
  font-size: 30px;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidenav.open {
  width: 225px;
}

.sidenav.open::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 1px;
  background-color: var(--primary);
}

.navLinks {
  list-style-type: none;
  margin-top: 30px;
}

.navLinks {
  list-style-type: none;
  padding: 0;
  padding-left: 10px;
}

.dropbutn {
  background-color: transparent;
  border: none;
  border-radius: 10px;
  align-items: left;
  text-align: left;
  margin-right: 10px;
  padding: 0 10px;
  margin: 0 !important;
}
.dropbutn i {
  color: var(--primary);
  margin-right: 10px; 
}

.headDrp {
  font-size: 18px;
  font-weight: 400;
  color: var(--text);
  transition: all 0.4s ease;
  display: inline-block;
}

.dropContent {
  padding: 0 2px 8px 10px;
  align-items: center;
  justify-content: center;
}

.dropContent i {
  color: rgba(63, 62, 62, 0.737);
  font-weight: 100;
  padding-right: 6px;
  font-size: 12px;
}

.dropContent li {
  padding-bottom: 4px;
}

.dropdownIcon {
  font-size: 12px;
  padding-top: 6px;
  padding-bottom: 0;
  margin-left: 5px;
}

.rotate180 {
  transform: rotate(180deg);
}

.newNoteButton {
  position: absolute;
  background-color: var(--primary);
  border-radius: 12px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  transition: 200ms;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 20px;
  align-self: center;
  width: 80%;
}
.newNoteButton:not(:disabled):hover,
.newNoteButton:not(:disabled):focus {
  outline: 0;
  background: var(--primary);
  color: black;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}

.newNoteButton:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}

.sidenav::-webkit-scrollbar {
  width: 4px;
}

.sidenav::-webkit-scrollbar-track {
  background: #bcf7ff8d;
  border-radius: 5px;
}

.sidenav::-webkit-scrollbar-thumb {
  background: #56acb2;
  border-radius: 5px;
}

.sidenav::-webkit-scrollbar-thumb:hover {
  background: #555;
}

:root {
  --mainContainer-direction: row;
}

.notesContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  box-sizing: border-box;
  min-height: calc(100vh - 70px);
  width: 100%;
  transition: width 0.5s;
}

.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.mainContainer .discussion {
  order: 2;
}

.mainContainer .editor {
  order: 1;
}

.mainContainer.discussion-open {
  width: 20vw;
}

@media (max-width: 60em) {
  .notesContainer {
    margin-top: 60px;
  }
}

/* Editor Styles: */

.editorContainer {
  background-color: white;
  margin: 2% 5% 5% 5%;
}

.toolbarContainer {
  background-color: var(--secondary);
}
.editorButtons {
  display: flex;
}
.saveNote {
  padding: 0 15px 15px 15px;
  margin-top: 0;
}
.saveNoteButton {
  background-color: var(--primary);
  border: 1px solid #2a8387;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
  color: #ffffff;
  cursor: pointer;
  display: block;
  font-family: -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
  font-size: 17px;
  line-height: 100%;
  margin: 0;
  outline: 0;
  padding: 11px 15px 12px;
  text-align: center;
  transition: box-shadow 0.05s ease-in-out, opacity 0.05s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
}

.saveNoteButton:hover {
  box-shadow: rgba(255, 255, 255, 0.3) 0 0 2px inset,
    rgba(0, 0, 0, 0.4) 0 1px 2px;
  text-decoration: none;
  transition-duration: 0.15s, 0.15s;
}

/* Discussion Styles: */
.disContainer {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 2px 2px 20px rgba(8, 7, 16, 0.6);
  width: 360px;
  height: 84vh;
  margin-top: 115px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  transition: width 0.5s ease;
  z-index: 999;
}

.discussionOpen {
  width: calc(100vw - 225px);
}

.toggleDiscussionButton {
  position: absolute;
  top: 40px;
  right: 0;
  margin-right: 10px;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: var(--primary);
  z-index: 999;
  transition: 2s ease;
}
.headerDis {
  padding-inline-start: 15px;
  margin-top: 0px;
  color: var(--primary);
  display: flex;
  margin-bottom: 0;
  align-items: center;
}

.headerDis h1 i {
  padding-right: 0;
}

.disContainer hr {
  margin: 0;
  padding: 0;
  border: none;
  border-top: 1px solid var(--primary);
}

.bodyDis {
  flex: 1;
  color: var(--text);
  padding: 20px 15px 0 15px;
  color: white;
  overflow-y: auto;
  height: calc(100% - 40px);
}

.message {
  padding: 1px 1px 1.5px 10px;
  color: var(--text);
  display: flex;
  flex-direction: column;
}

.username {
  font-weight: 500;
  margin-bottom: 0;
}

.messageContent {
  border-radius: 10px;
  color: var(--text);
}

.myMessage {
  color: white;
  background-color: var(--primary);
  align-self: flex-end;
  margin-left: 50%;
  margin-bottom: 4px;
  padding-bottom: 4px;
  border-radius: 10px;
}

.otherMessage {
  color: var(--text);
  background-color: rgb(213, 227, 222);
  align-self: flex-start;
  margin-right: 50%;
  border-radius: 10px;
  margin-bottom: 4px;
  padding-bottom: 4px;
}

.footerDis {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px 0 0 0;
  padding: 10px 20px;
}

.footerDis form {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
}

.footerDis input {
  margin-bottom: 3px;
  width: 70%;
  height: 30px;
  border: 1px solid #0f0f0f;
  border-radius: 5px;
  margin-right: 10px;
}

.footerDis button {
  margin-left: auto;
  margin-bottom: 3px;
  background-color: #3a3939b6;
  border: 0.5px solid;
  border-radius: 5px;
  padding: 5px;
  color: white;
}
.footerDis button i {
  padding-right: 5px;
}

/**scroll up side bar**/

.bodyDis::-webkit-scrollbar {
  width: 8px;
}

.bodyDis::-webkit-scrollbar-track {
  background: #bcf7ff8d;
  border-radius: 5px;
}

.bodyDis::-webkit-scrollbar-thumb {
  background: #56dee7;
  border-radius: 5px;
}

.bodyDis::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* subnavbar Styles */

.subnavbar {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  background-color: transparent;
  color: var(--text);
  padding: 0px 15px;
  z-index: 1000;
}

.subnavbarRight {
  justify-content: flex-start;
}

.subnavbarRight button {
  margin-left: 10px;
}

.subButton {
  background-color: rgb(197, 245, 249);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 34px;
  line-height: 17px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: width 0.5s ease;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.subButton:hover,
.subButton:focus {
  background-color: rgb(137, 140, 141);
  transition: transform 0.2s ease, text-shadow 0.3s ease;
  color: white;
}

.deleteButton:hover,
.deleteButton:focus {
  background-color: rgb(255, 25, 25);
  transition: transform 0.2s ease, text-shadow 0.3s ease;
  color: white;
}

@media (max-width: 60em) {
  .subnavbarRight {
    justify-content: flex-start;

    padding-top: 20px;
  }

  .subnavbarRight button {
    margin-left: 10px;
    margin-top: 7px;
  }
}

/******notes history styles*******/

.historyContainer {
  position: fixed;
  top: 115px;
  right: 0;
  height: 85vh;
  overflow-y: auto;
  display: block;
  transition: 0.3s;
  z-index: 1000;
  background-color: rgb(220, 252, 255);
  border: 1px solid var(--primary);
  margin-right: 3px;
  width: 360px;
  border-radius: 10px;
  box-shadow: 2px 2px 20px rgba(8, 7, 16, 0.6);
  padding-top: 5px;
}

.historyContent {
  padding: 10px;
}

.historyContainer li {
  text-align: left;
  line-height: 20px;
  margin: 15px 0;
  transition: all 0.25s;
}

.historyContainer .historyHeading {
  font-size: 30px;
  margin-left: 15px;
  margin-right: 15px;
  color: var(--primary);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  background-color: white;
  text-align: center;
  padding: 3px;
  border-radius: 10px;
  border: 1px solid var(--primary);
}
.historyContainer .historyHeading i {
  padding-right: 10px;
  font-size: x-large;
  font-weight: 600;
}

.historyContainer .hisLinks {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.historyContainer .hisVersion {
  font-size: large;
  font-weight: 600;
  padding-left: 10px;
  color: var(--primary);
  padding-bottom: 6px;
}

.historyContainer .hisVersion i {
  padding-right: 10px;
}

.hisInfo {
  padding-left: 30px;
  padding-bottom: 4px;
}

.hisViewButton {
  margin-left: 30px;
  background-color: #f4f3f3;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember", sans-serif;
  font-size: 13px;
  line-height: 25px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
}

.hisViewButton:hover {
  background-color: #f7fafa;
}

.hisViewButton:focus {
  border-color: var(--primary);
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  outline: 0;
}

.historyContainer::-webkit-scrollbar {
  width: 6px;
}

.historyContainer::-webkit-scrollbar-track {
  background: rgb(220, 252, 255);
  border-radius: 10px;
}

.historyContainer::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 10px;
}

.historyContainer::-webkit-scrollbar-thumb:hover {
  background: #555;
}
